# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
*.apk
*.aab

# iOS
ios/build/
ios/DerivedData/
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/xcuserdata/
*.ipa

# Misc
.DS_Store
